@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@400;600&display=swap');


body {
    text-align: center;
    margin: 0;
    width: 100%;
}

h1 {
    margin-top: 0;
}

.hero{
    text-align: center;
}

.name{
    color: #7FB77E;
    font-family: 'Comforter Brush', cursive;
    font-weight: 400;
    font-size: 5.5rem;
    position: relative;
    margin: 0 auto 0 auto;
}

.title{
    color: #7FB77E;
    margin: 0 auto 0 auto;
    font-size: 2rem;
    font-family: 'Comforter Brush', cursive;

}

.top-container {
    background-color: #F7F6DC;    
    text-align: center;
}

.mountain{
    width: 100%;
}

.top-cloud{
    width: 100px;
    position: relative;
    margin-left: 500px ;
}

.bottom-cloud{
    width: 100px;
    position: absolute;
    left: 150px;
    top: 200px;

}


.row-image{
    width: 300px;
    border-radius: 50%;
}